$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

$link-color: #ffe600;
$primary: #ffe600;
$btn-focus-width: 0;
$input-btn-focus-color: #ffe600;
$btn-border-radius-lg: 0;
$btn-font-size-lg: 20px;
$btn-border-width: 0;
$navbar-light-color: #fff;
$navbar-light-active-color: #ffe600;
$navbar-light-hover-color: #ffe600;
$navbar-nav-link-padding-x: 0rem !default;